# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

In [ ]:
#Data Types - Numeric, Strings, Booleans, Float, Integers
#Data Structures - List, Dictionary, Sets[Mutables] - Values can change
#Strings, Numerics, Tuples[Immutables]

In [31]:
a = "Hi"

In [32]:
type(a)

str

In [43]:
a = ["hi", 2.5, 3, True] #Container of Heterogenous/Homogenous DAta Types

In [44]:
type(a)

list

In [45]:
a1 = [2,3,4,5,6,7]

In [46]:
len(a)

4

In [47]:
#Slicing, Indexing, Concatenations, Repetitions, Membership Testing

In [51]:
a1[3:5]

[5, 6]

In [53]:
for i in a1: 
    print(i) #Finite / Specific

2
3
4
5
6
7

In [48]:
a2 = a+a1

In [49]:
a2

['hi', 2.5, 3, True, 2, 3, 4, 5, 6, 7]

In [50]:
a2*2

['hi', 2.5, 3, True, 2, 3, 4, 5, 6, 7, 'hi', 2.5, 3, True, 2, 3, 4, 5, 6, 7]

In [36]:
type(a)

list

In [34]:
type(a)

list

In [54]:
List1 = [1,2,3,4,5]

In [55]:
tup1 = (1,2,3,4,5)

In [56]:
List1[0]

1

In [57]:
List1[0] = "Machine Learning"

In [58]:
List1

['Machine Learning', 2, 3, 4, 5]

In [59]:
tup1[0]

1

In [60]:
tup1[0] = "Python"

TypeError: 'tuple' object does not support item assignment

In [61]:
tup2 = ([1,2,3,4,5])

In [77]:
l2 = [(1,2,3,4,5), (3,4,5,6)]

In [78]:
l2

[(1, 2, 3, 4, 5), (3, 4, 5, 6)]

In [81]:
l2[0][0] = "DL"

TypeError: 'tuple' object does not support item assignment

In [82]:
del l2[0][0]

TypeError: 'tuple' object doesn't support item deletion

In [83]:
l2

[(1, 2, 3, 4, 5), (3, 4, 5, 6)]

In [84]:
l2.append('ML')

In [85]:
l2

[(1, 2, 3, 4, 5), (3, 4, 5, 6), 'ML']

In [88]:
l2.append(["NLP", 'DL'])

In [90]:
l2.extend(["NLP", 'DL'])

In [92]:
l2.insert(2,"IoT")

In [93]:
l2

[(1, 2, 3, 4, 5), (3, 4, 5, 6), 'IoT', 'ML', ['NLP', 'DL'], 'NLP', 'DL']

In [74]:
type(l2)

list

In [64]:
tup2[0] = "NLP"

In [65]:
tup2

['NLP', 2, 3, 4, 5]

In [68]:
type(tup2)

list

In [66]:
set1 = {1,1,1,2,2,2,3,3}

In [67]:
set1

{1, 2, 3}

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, time etc. Data should be stored correctly for us to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:
1. Numeric - This is further divided into 
    (a.) Integer
    (b.) Float
    (c.) Complex
    
2. String

3. Boolean

## Numeric Data Type

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type.

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

In [1]:
#Let's look at some examples.

Integer = 7
type(Integer)

int

In [2]:
Float = 2.356
type(Float)

float

In [3]:
Complex = 3.908J
type(Complex)

complex

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [5]:
# Printing your name

My_Name = "My name is Jupyter!"
My_Name

'My name is Jupyter!'

In [6]:
type(My_Name)

str

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [8]:
# Let's check how many characters does your name contain.
len(My_Name)

19

In [94]:
a = "greatlearning"

In [101]:
a = a.upper()

In [102]:
# Let's see if My_Name is all Caps or not. 
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.

a.isupper()

True

In [103]:
# Let's convert My_Name to all caps.

My_Name = My_Name.upper()
My_Name

'MY NAME IS JUPYTER!'

In [104]:
# Now the output of isupper() changes to True.
My_Name.isupper()

True

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [106]:
# Let's look at examples.

x = True
y = False

In [107]:
type(x)

bool

In [108]:
type(y)

bool

## Data Type Conversions

In [110]:
a = int(3.5)

In [111]:
a

3

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [22]:
# Consider an object containing an integer.
string1 = 1

In [112]:
type(string1)

str

In [24]:
# I want to use the value 1 as a text value. So let's convert it.
string1 = str(string1)

In [25]:
type(string1)

str

In [28]:
int1 = "500"
type(int1)

str

In [29]:
int1 = int(int1)
type(int1)

int